<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DrugDev Data validator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom/Additional CSS -->
    <link href="/static/css/jquery.fileupload-ui.css" rel="stylesheet">
    <link href="/static/css/square/purple.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Jquery -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vendor/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
    <script src="/static/js/jquery.fileupload-fp.js"></script>
    <script src="/static/js/jstorage.js"></script>
    <script src="/static/js/icheck.min.js"></script>
    <script src="/static/js/jquery.placeholder.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Validation -->
    <script src="/static/js/validation.js"></script>

    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block content %}(no content){% endblock %}
    <footer role="contentinfo" id="footer">
        <div class="container-fluid">
            <div class="col-md-12">
                <p class="copyright">&copy; 2014 <strong>DataValidator</strong>. All RIghts Reserved. <br> A project by <a href="http://trialx.com">Trialx.com</a></p>
            </div>
        </div>
    </footer>
  </body>
</html>
