{% extends "base.html" %}
{% block title %}
Data validator
{% endblock %}

{% block titlesubtext %}
Validate your csv and xml documents
{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><strong>Sign in </strong></h3></div>
      <div class="panel-body">
        <form id="login_form" method="post" action="/login" role="form">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
          </div>
          <input type="submit" value="Submit" class="btn btn-default"/>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}