{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{% endblock %}

{% block titlesubtext %}
{% endblock %}

{% block content %}
<div id="wrap">
    <div class="navbar navbar-default navbar-static-top" role="navigation">

    <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dv-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="static/images/logo.png" alt="DrugDev" class="hidden-xs"> <img src="static/images/logo_dv.png" alt="Data Validator"></a>
            </div>

            <div class="navbar-collapse collapse" id="dv-navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown dv-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }} &nbsp;&nbsp; <img src="static/images/user2.jpg" class="user" alt="John Doe Photo"> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->


    </div>

    </div> <!-- end of nav bar top -->
<main role="main">

        <div class="container-fluid">
            <div class="row tabs-bar">
                <ul class="nav nav-tabs tabs">
                    <li class="active"><a href="#validate-files" data-toggle="tab"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;Validate Files</a></li>
                    <li><a href="#faqs" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;FAQs</a></li>
                </ul>
            </div>

        <div class="row">
            <div class="col-md-8 dv-content">
                <div class="tab-content">
                    <div id="validate-files" class="tab-pane fade in active">
                        <div class="container-fluid">
                            <div class="row clearfix dv-upload">
                                <div class="col-md-12">
                                    <form class="form-horizontal" role="form" id="upload" method="post" action="upload" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="fileid" name="fileid" value=""/>
                                          <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Validate new file</span>
                                            <input id="fileupload" type="file" name="fileupload" />
                                          </span>
                                    </form>
                                </div> <!-- end of col-md-12 -->
                                <div class="col-md-12 col-xs-12">

                                    <div class="progress">
                                      <div id="progress-bar" class="progress-bar dv-progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">

                                      </div>
                                    </div>
                                </div> <!-- end of col-md-12 col-xs-12 -->
                            </div>
                            <!-- table here -->
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table dv-table" id="uploadstatus">
                                        <thead>
                                          <tr>
                                            <th>File Name</th>
                                            <th>Validation Status</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div id="faqs" class="tab-pane fade">
                            <div class="container-fluid">
                                <h1>File Field Difinitions</h1>
                                <div class="panel-group dv-panel" id="accordion">
                                  <div class="panel panel-default active">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h4 class="panel-title">CSV File spec</h4></a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                      <div class="panel-body"></div>
                                        <div class="table-responsive">
                                          <table class="table dv-file-field-table">
                                                <thead>
                                                    <tr>
                                                        <th>Field Name</th>
                                                        <th>Required</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>agency_id</td>
                                                        <td>Optional</td>
                                                        <td>The <code>agency_id</code> field is an ID that uniquely identifies a transit agency. A transit feed may represent data from more than one agency. The <code>agency_id</code> is dataset unique. This field is optional for transit feeds that only contain data for a single agency.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>agency_name</td>
                                                        <td><strong>Required</strong></td>
                                                        <td>The <code>agency_name</code> field contains the full name of the transit agency. Google Maps will display this name.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>agency_id</td>
                                                        <td>Optional</td>
                                                        <td>The <code>agency_id</code> field is an ID that uniquely identifies a transit agency. A transit feed may represent data from more than one agency. The <code>agency_id</code> is dataset unique. This field is optional for transit feeds that only contain data for a single agency.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>agency_name</td>
                                                        <td><strong>Required</strong></td>
                                                        <td>The <code>agency_name</code> field contains the full name of the transit agency. Google Maps will display this name.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>agency_id</td>
                                                        <td>Optional</td>
                                                        <td>The <code>agency_id</code> field is an ID that uniquely identifies a transit agency. A transit feed may represent data from more than one agency. The <code>agency_id</code> is dataset unique. This field is optional for transit feeds that only contain data for a single agency.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>agency_name</td>
                                                        <td><strong>Required</strong></td>
                                                        <td>The <code>agency_name</code> field contains the full name of the transit agency. Google Maps will display this name.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h4 class="panel-title">XML File spec</h4></a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                      <div class="panel-body"></div>
                                      <div class="table-responsive">
                                          <table class="table dv-file-field-table">
                                                <thead>
                                                    <tr>
                                                        <th>Field Name</th>
                                                        <th>Required</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>agency_id</td>
                                                        <td>Optional</td>
                                                        <td>The <code>agency_id</code> field is an ID that uniquely identifies a transit agency. A transit feed may represent data from more than one agency. The <code>agency_id</code> is dataset unique. This field is optional for transit feeds that only contain data for a single agency.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>agency_name</td>
                                                        <td><strong>Required</strong></td>
                                                        <td>The <code>agency_name</code> field contains the full name of the transit agency. Google Maps will display this name.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h4 class="panel-title">XHTML File spec</h4></a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                      <div class="panel-body"></div>
                                      <div class="table-responsive">
                                          <table class="table dv-file-field-table">
                                                <thead>
                                                    <tr>
                                                        <th>Field Name</th>
                                                        <th>Required</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>agency_id</td>
                                                        <td>Optional</td>
                                                        <td>The <code>agency_id</code> field is an ID that uniquely identifies a transit agency. A transit feed may represent data from more than one agency. The <code>agency_id</code> is dataset unique. This field is optional for transit feeds that only contain data for a single agency.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>agency_name</td>
                                                        <td><strong>Required</strong></td>
                                                        <td>The <code>agency_name</code> field contains the full name of the transit agency. Google Maps will display this name.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  </div>
                                </div>

                            </div>

                        </div> <!-- END faqs tab -->
                </div>
            </div> <!-- end of md-8 -->

            <!-- Uncomment in case we want to display information in a right panel -->
            <!--<div class="col-md-4">-->

                    <!--<div class="row">-->
                        <!--<div class="col-md-10 col-md-offset-1 dv-sidebar">-->
                            <!--<h4>Title Here</h4>-->
                            <!--<div class="panel panel-default">-->
                                <!--<div class="panel-body">-->
                                    <!--In egestas euismod massa, eu placerat nisi posuere ut. Nuncys convallis ac nisi tempor tempus. Integer vitae elit diam. Quisque ac blandit magna.-->
                                <!--</div>-->
                                <!--<div class="panel-footer">-->
                                    <!--<a href="#" class="btn btn-xs">Read More <span class="glyphicon glyphicon-play"></span></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
         </div>

    </div>
</main>
<div id="push"></div>
</div>
{% endblock %}