/* iCheck plugin Square skin, purple
----------------------------------- */
.icheckbox_square-purple,
.iradio_square-purple {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    top: -1px;
    /*width: 22px;
    height: 22px;*/
    width: 17px;
    height: 17px;
    /*background: url(purple.png) no-repeat;*/
    background: url(purple2.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-purple {
    background-position: 0 0;
}
    /*.icheckbox_square-purple.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-purple.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-purple.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-purple.checked.disabled {
        background-position: -96px 0;
    }*/
    .icheckbox_square-purple.hover {
        background-position: -19px 0;
    }
    .icheckbox_square-purple.checked {
        background-position: -38px 0;
    }
    .icheckbox_square-purple.disabled {
        background-position: -57px 0;
        cursor: default;
    }
    .icheckbox_square-purple.checked.disabled {
        background-position: -76px 0;
    }

.iradio_square-purple {
    background-position: -120px 0;
}
    .iradio_square-purple.hover {
        background-position: -144px 0;
    }
    .iradio_square-purple.checked {
        background-position: -168px 0;
    }
    .iradio_square-purple.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-purple.checked.disabled {
        background-position: -216px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-purple,
    .iradio_square-purple {
        /*background-image: url(purple@2x.png);*/
        background-image: url(purple2@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}