@import "bootstrap/variables";

body {
	background: #6b5d92;
	font-family: "Lato", arial, sans-serif;
}

.navbar {
	margin-bottom: 0;
}
.dv-dropdown > a {
    text-align: right;
    margin-left: 0;
    display: inline-block!important;
    float: right;
    color: $navbar-default-link-color;
    .user {
        width: 17%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        display: inline-block!important;
    }
}
.dv-dropdown.open > a {
    color: $navbar-default-link-hover-color;
}
.dv-dropdown ul {
    font-size: 15px;
}
.tabs-bar {
	padding-top: 10px;
	background: #5b4d80;
}
.nav-tabs {
	border-bottom: none!important;
}

.nav-tabs a {
	color: $dv-tab-primary;
}
.nav-tabs a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	color: $dv-tab-primary-hover!important;
	background: #fff!important;

}

.nav-tabs li a {
	position: relative;
	font-size: 16px;
	&:active,
	&:focus {
		outline: none;
	}
}

.tabs {

    margin: 0px 0 20px!important;
    padding: 0!important;
    line-height: 24px!important;
    height: 26px!important;
    // overflow: hidden;
    font-size: 12px!important;
    font-family: verdana!important;
    position: relative!important;
}
.tabs li {
    /*border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
    display: inline-block!important;
    position: relative!important;
    z-index: 0!important;
    /*border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;*/
    // text-shadow: 0 1px #FFF!important;
    margin: 0 2px!important;
    padding: 0 0px!important;
    bottom: -.24em!important;
}
.tabs a {
      color: #bdb8cc!important;
      text-decoration: none!important;
      border: none!important;
}
.tabs a:hover {
	background: none!important;
	color: #fff!important;
}
.tabs li.active {
    background: #FFF!important;
    color: #333!important;
    z-index: 2!important;
    /*border-bottom-color: #FFF;*/
    // border: 1px solid #AAA!important;
    border-bottom-color: #FFF!important;
    border-top-left-radius: 4px!important;
    border-top-right-radius: 4px!important;
}
.tabs li.active a {}
.tabs:before {
    position: absolute!important;
    content: " "!important;
    width: 100%!important;
    bottom: 0!important;
    left: 0!important;
    // border-bottom: 1px solid #AAA!important;
    z-index: 1!important;
}
.tabs li.active:before,
.tabs li.active:after {
    border: 1px solid red!important;
    position: absolute!important;
    /*bottom: -1px!important;*/
    bottom: 1px!important;
    width: 8px!important;
    height: 8px!important;
    content: " "!important;
    border-top: 1px solid transparent!important;
    border-bottom: 1px solid transparent!important;
}
.tabs li.active:before {
    left: -8px!important;
    border-bottom-right-radius: 4px!important;
    border-width: 0 1px 1px 0!important;
    box-shadow: 2px 2px 0 #fff!important;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent!important;
}
.tabs li.active:after {
    right: -8px!important;
    border-bottom-left-radius: 4px!important;
    border-width: 0 0 1px 1px!important;
    box-shadow: -2px 2px 0 #fff!important;
    border-right: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
}
.tabs li.active:before {
    box-shadow: 2px 2px 0 #fff!important;
}
.tabs li.active:after {
    box-shadow: -2px 2px 0 #fff!important;
}
.tabs li:nth-of-type(1) {
	margin-left: 20px!important;
}

.dv-upload {
	margin-bottom: 20px;
}
.dv-content {
	background: #fff;
	padding: 20px 0;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 2px solid #615688;
    margin-bottom: 30px;
	// padding: 20px;
}


.fileinput-button,
.dv-btn-primary {
	background: #bbd54f!important;
	padding: 10px 20px;
	border: none!important;
    border-bottom: 3px solid #a3b266!important;
	
    // -webkit-transition: border-bottom-width 0.5s ease!important;
    // -moz-transition: border-bottom-width 0.5s ease!important;
    // transition: border-bottom-width 0.5s ease!important;
    // -webkit-transition: all 1s ease-in-out;
    // -moz-transition: all 1s ease-in-out;
    // -o-transition: all 1s ease-in-out;
    // transition: all 1s ease-in-out;

	font-size: 15px;
    position: relative;
    top: -2px;
    color: #fff;

    

}

.dv-btn-primary {
    width: 100%;
}
.dv-btn-primary:hover {
    color: #fff;
}

.fileinput-button:active,
.fileinput-button:focus,
.dv-btn-primary:active,
.dv-btn-primary:focus {
    color: #fff;
    box-shadow: none;
	border-bottom: 2px solid #a3b266!important;	

}
.dv-download-file {
    background: #f0eef5!important;
    border: none!important;
    border-bottom: 2px solid #d1cddf!important;
    // transition: border-width 0.5s ease!important;
    font-size: 13px;
    position: relative;
    color: #5b4d80;

}
.dv-download-file:active,
.dv-download-file:focus {
    outline: none!important;
    top: 0px;
    box-shadow: none;
    border-bottom: 1px solid #d1cddf!important; 
}

#validate-files .progress {
	background: #f1f4f7;
	box-shadow: none;
	margin-top: 13px;
	height: 14px;
}
#validate-files .progress .dv-progress {
	line-height: 14px;
    background: #bbd54f;
    box-shadow: none;
}

.dv-table {
	width: 100%;
	padding-right: 20px;
    margin-bottom: 0;
}
.dv-table tbody tr td:nth-of-type(1),
.dv-table thead tr th:nth-of-type(1) {
	padding-left: 20px;
    font-size: 15px;
}
.dv-table tbody tr td:nth-of-type(4) {
    padding-right: 20px;
}
.dv-table tbody tr td a {
    font-weight: bold;
}
body .dv-table tbody tr td {
	border-top: 2px solid #e7e5ee!important;
	padding-top: 18px;
	padding-bottom: 18px;
    font-size: 15px;
}
body .dv-table thead tr th {
	border-bottom: 2px solid #e7e5ee!important;
    // border-bottom: none!important;
	color: #505a65!important;
	padding-top: 18px;
	padding-bottom: 18px;
}
.dv-table thead th:nth-of-type(1) {
	width: 5%;
}
.dv-table thead th:nth-of-type(2) {
    width: 40%;
}


.dv-msg-action {
    background: #e7e5ee;
    overflow: hidden;
    position: relative;
    z-index: 9;
    padding: 40px 0;
    td {
        height: 0;
        padding-top: 0!important;
        padding-bottom: 0!important;
        z-index: 2;
        overflow: hidden;
        position: relative;
        background: #e7e5ee;
    }
    .dv-msg-content {
        text-align: left;    
        margin: 0;
        color: #a8a4b3;
        
        position: relative;
        z-index: 0;
        width: 100%;
    }
    .dv-btn-delete {
        padding: 0!important;
        i {
            color: $brand-danger;
        }
        &:active {
            box-shadow: none!important;
        }
    }
}
.dv-msg-content {
    > div {
        position: absolute;
        padding-top: 13px!important;
        padding-bottom: 30px!important;   
        padding-right: 20px;
        width: 100%;
    }
}

.dv-adding-file {
    text-align: center;
    color: #696377;
    font-size: 15px;
}


.valid {
	color: $brand-success;
}
.invalid {
	color: $brand-danger;
}

.panel-heading a:active,
.panel-heading a:focus {
    outline: none;
}
.dv-panel {
    margin-top: 20px;
}
.dv-panel .panel-body {
    padding: 0!important;
}
.dv-file-field-table thead tr th {
    // padding: 20px 10px;
    font-size: 15px;
}

.dv-file-field-table tbody tr td {
    border-top: 1px solid #e7e5ee!important;
}
.dv-file-field-table thead tr th {
    border-bottom: 1px solid #e7e5ee!important;
}

.dv-file-field-table tbody tr td:nth-of-type(1) {
    width: 20%;
}
.dv-file-field-table tbody tr td:nth-of-type(2) {
    width: 10%;
}
.dv-file-field-table tbody tr td:nth-of-type(3) {
    width: 70%;
}
.dv-sidebar {
    margin-top: 30px;
}
.dv-sidebar h4 {
    color: #fff!important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .12em;
}
.dv-sidebar .panel {
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border: none;
    border-bottom: 2px solid #615688;
}
.dv-sidebar .panel-body {
    padding: 20px;
}
.dv-sidebar .panel-footer {
    background: #fff;
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px;
    border-top: 2px solid #e7e5ee;
    .btn-xs {
        text-transform: uppercase;    
    }
}
.dv-sidebar .panel-footer .btn-xs {
    &:hover, &:focus, &:active {
        box-shadow: none;
        outline: none;
    }
}
#footer {
    clear: both;
}
.content-inner {
    // margin: 40px 0;
    margin-top: 20px;
    margin-bottom:0;

    .dv-heading {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .panel {
        border: none;
        border-bottom: 2px solid #615688;
        padding: 20px;
    }
}

.profile-photo {
    position: relative;
    img {
        display: block;
    }
    .dv-upload-button {
        position: absolute;
        top: 0;
    }
}

@media screen and (max-width: $screen-sm) {
    .dv-heading { font-size: 24px!important; }
    .dropdown .divider {
        background-color: #392a63;
    }
}

input, textarea { color: #000; }
.placeholder { color: #aaa; }


#footer {
    // margin-bottom: 40px;
    // padding-bottom: 80px;
    // margin-top: 30px;
    color: #d2cce2;
    text-align: center;
}
#footer a {
    color: #fff;
}


// Sticky Footer
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}


/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

